extends article_layout

block article
	.col-md-12
		h1 All Posts
		table
			- each post in posts
				tr
					td(align='right')
						em= post.date
					td(style='padding-left: 25px;')
						a(href='/articles/'+post.post_name)= post.post_title