//- Bismillah

extends article_layout
block article
	.row.row-fluid
		.col-md-3
		.col-md-8
			.article-title.page-header(style="margin-top: 20px;")
				h1= post.post_title
					small= "  " + post.post_date.toDateString().substr(4)
	.row.row-fluid
		.col-md-3
			.list-group.hidden
				a.list-group-item(href="/") Home
				a.list-group-item(href="/articles") Articles
				a.list-group-item(href="/articles/categories") Categories
			if (typeof toc !== "undefined")
				.bs-sidebar.hidden-print.affix(role="complementary")!= toc
		.col-md-8
			.article-body!= post.content