//- Bismillah
extends layout

block content
	.hero-unit
		.content
			h1(align="center") Article Not Found
			br
			br
			h2(align="center") Sad Face :(
			br
			br
			div(align="center")
				a.btn.btn-primary(href="javascript:history.back()") Go back where you came from