extends layout

block content
	.row.row-fluid
		.col-md-1
		.col-md-10
			.jumbotron
				h1 N00BD3V
					p Because I Can..
					a.btn.btn-large.btn-success(href='#') Start Noobing..
				
			.bod
				| Bismillah
