!!! 5
head
		title N00BD3V
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
		link(type='text/css', rel='stylesheet', href='/css/shCore.css')
		link(type='text/css', rel='stylesheet', href='/css/shThemeDefault.css')
		link(type='text/css', rel='stylesheet', href='/css/style.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='/js/bootstrap.js')
		script(type='text/javascript', src='/js/xregexp.js')
		script(type='text/javascript', src='/js/shCore.js')
		script(type='text/javascript', src='/css/shBrushCpp.js')
		script(type='text/javascript', src='/js/global.js')
	body
		.container.main-container
			.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
				.container
					.navbar-header
						button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') N00BD3V
					.navbar-collapse.collapse
						ul.navbar-nav.nav.navbar-right
							li.active
								a(href='/') Home
							li
								a(href='/articles') Articles
							li
								a(href='http://trello.com') Trello
							li
								a(href='http://bitbucket.com') BitBucket
							li
								a(href='http://noobdev.asifrc.com') Old Site
			block content
