<div>
Technology in general is designed to solve problems. We use glue, tape, and nails to hold things together; bicycles, cars, trains, and planes to go places we can't walk; phones to talk to people who aren't within yelling distance, etc. Computer programs, as a subset of technology, naturally have the same quality. I'll get more into this later, but I want you to get into the mentality that you're always trying to solve a problem (because you already are as a matter of animal instinct, but you probably just aren't aware of it).

In the spirit of problem solving, I think the best way to explain what Git is and how we're going to use it is to present you with the problem it solves, and then explain how Git solves that problem.

<h2>The Problem</h2>

Let's say we're working on a group paper, and we decide that the easiest way to divide up the paper at first is to split into three parts, and assign one part to each of us. (And for some reason, we're not using google docs.) So to get things started, I email out the following document:
</div>
<div style="width: 175px; float:left; clear: both;">
<p align="center">Original Version</p>
<pre class="crayon:false">
PART I - Asif

PART II - Joyee

PART III - Sameer
</pre>
</div>
<div style="clear: both;">
So we each work on our parts, and then at the end of the day we email out our work:
<br>
<br>
</div>

<div style="width: 175px; float:left; clear: left;">
<p align="center">Asif's Version</p>
<pre class="crayon:false">
PART I - Asif

This hsa one typo 

PART II - Joyee

PART III - Sameer

</pre>
</div>
<div style="width: 175px; float:left; clear: none;">
<p align="center">Joyee's Version</p>
<pre class="crayon:false">
PART I - Asif

PART II - Joyee

My setnance has no
tyops.

PART III - Sameer
</pre>
</div>
<div style="width: 175px; float:left; clear: right;">
<p align="center">Sameer's Version</p>
<pre class="crayon:false">
PART I - Asif

PART II - Joyee

PART III - Sameer

Do I has typos?

</pre>
</div>

<div style="clear: both;">
We each have these three documents. It's pretty easy to independently combine them into one document. All we have to do is copy and paste each other's parts into our document, so we all end up with the same document:<br>
<br>
</div>

<div style="width: 175px; float:left; clear: both;">
<p align="center">Version 2</p>
<pre class="crayon:false">
PART I - Asif

This hsa one typo

PART II - Joyee

My setnance has no
tyops.

PART III - Sameer

Do I has typos?

</pre>
</div>

<div style="clear: both;">
Now that we all have the same document, we continue working. As we look over the document, we each find and correct some of the typos and grammatical mistakes in all the different parts, but we don't all necessarily find the same ones. So now when we email out our documents at the end of the day, it looks something like this:<br>
<br>
</div>

<div style="width: 175px; float:left; clear: left;">
<p align="center">Asif's Version 2</p>
<pre class="crayon:false">
PART I - Asif

This hsa one typo,
and this sentence
is now longer

PART II - Joyee

My sentence has no
tyops. Here's a
suggested sentence.

PART III - Sameer

Do I have typos?


</pre>
</div>


<div style="width: 175px; float:left; clear: none;">
<p align="center">Joyee's Version 2</p>
<pre class="crayon:false">
PART I - Asif

This has two typos.

PART II - Joyee

My setnance, now
more complex, has
zero typos

PART III - Sameer

Do I has any typos?




</pre>
</div>

<div style="width: 175px; float:left; clear: right;">
<p align="center">Sameer's Version 2</p>
<pre class="crayon:false">
PART I - Asif

Your sentence is
stupid, I delletted
it.

PART II - Joyee

My sentance has no
typos.

PART III - Sameer

Seriously though,
do I has typos?
I still dont no.

</pre>
</div>


<div style="clear: both;">
Now we all have five documents: our own document that we modified from the original, and two versions from each other teammate. So first we have to make sure we have the right ones open, which we can do by looking at the last time the file was modified. Now you'll also notice that we can't just copy and paste stuff over, because we've each fixed some stuff and made suggestions, and everyone's also added stuff.

So this is somewhat of a mess with only a few lines of text and working with two other people. But what if it's hundreds of people with over a hundred thousand lines, and you're all trying to work on a dozen different documents at the same time?

Problem summary:
<ul>
<li>How do you keep track of changes made by each individual contributor?</li>
<li>How do you combine the changes of each contributor into a single document?</li>
<li>How do you make the process <a href="/concepts/scalability" title="Scalability" target="_blank">scalable</a>?</li>
</ul>

<h2>The Solution</h2>
In the programming world, teams of developers share their code with each other almost constantly, several times a week, a day, and every couple hours. The programming community, naturally inclined to resolve this sort of issue, has long ago come up with a solution to this problem with something called <b>Source Control</b>. Since the programming community is also inclined to reinventing the wheel over and over, there are <a href="http://en.wikipedia.org/wiki/List_of_revision_control_software">many options</a> to choose from. The one we will be using is called Git
<br>
A quick side note: just about everything that I will touch on throughout this blog has endless information on the topics that you could learn about. But since it's impossible to everything in depth, I'll try to to cover introduce some basic concepts and you can use the magical powers of Google and Wikipedia (or ask me) to learn more if you're interested.

That being said, the exact algorithm (step-by-step procedure: we'l talk about 'algorithms' in depth later) for source control management, for merging and branching etc. aren't necessary to understanding how to use git, and a bit complex to understand without having started programming yet.

Note: If you haven't read <a href="/getting-started/command-prompt-basics" title="Command Prompt Basics">Command Prompt Basics</a> yet and aren't familiar with navigating through directories in command prompt, I recommend reading it before proceeding.

<h3>How Git Works</h3>

I'm going to explain how git works in this section, and then give you a hands on tutorial in the next section. So for this section you can just sit back and read, and I'll let you know when you need to actually start doing stuff..

A <b>repository</b>, or <b>repo</b>, is a set of files and directories (folders), and information about them. In git, this information is stored in a folder named <i>.git</i> located in the root of the repository. This directory is hidden by default, so it shouldn't be visible unless you have the show hidden folder option on (which you can change by opening explorer, pressing ALT + T, then O, and then going to the view tab: there's an option to show hidden files, folders and drives. I generally keep things hidden though unless I need to see them specifically).


<h4>Creating a Repo</h4>
A repo is first created by initializing git in whatever folder you want to be the root of the repository. This creates a hidden .git folder in the root. You do this by either going into the directory through explorer, right-clicking, and selecting "git init here" (really handy feature, but many people don't have this feature installed). Most programmers though use git through the commandline, so you can also navigate to the root of your project and run "git init" (this might not work for you right away, but we'll have it working by the end if this).

<h4>Adding Files</h4>
Before a git repo's fully functional, you need to commit at least one file. But before committing comes adding. Adding a file means that you mark a file to have its changes tracked (if not already tracked) and recorded by git. To do this, you can either right click, select git gui, and add the files from there (it even will show you  the changes). Or you can use the commandline, making sure that your cwd is set to somewhere within the repo (you can run git commands from any subdirectory of the repo), and either type "git add ." which adds everything in the cwd, or add a specific file, e.g. "git add readme.md".

Traditionally, "readme.md" is the first file added to the repo and contains a brief (or elaborate) description of the project. The .md extension stands for markdown, which is like a simplified version of html. As you'll find out later, a lot of websites will automatically display this file on the homepage of the project.

It's important to note that added files have to be committed before they're stored by git.

<h4>Making a Commit</h4>
Commits are essentially snapshots of the files in your repository. You'll frequently commit your changes as you work on your project, and then you have a history of how each file has changed throughout the project. If you screw up something or just don't like the direction you've gone, you can even go back in history and restore the files to a previous commit. These commits are also used when trying to reconcile changes between two different versions of a repo, which we'll talk about in a bit.
In order to make a commit, you first add all the files you want to commit. Then you can either user the GUI (from the right click menu) to write a commit message or use the commandline. The command to for commiting is as follows:

 
<pre class="nums:false plain:false lang:default decode:true " >git commit -m "Your commit message."</pre> 


You have to have a message in order to make a commit. This should be something brief but descriptive so it makes sense to everyone working on the project what changes you made. The format for writing a detailed message is to write something very short on the first line, skip a line, and then write your detailed message, e.g.

<pre class="crayon:false">
First line of commit: very brief

This is the longer part of the message where
you can explain in depth what you did, talk
about a bug fix you made, or just talk about
the song you were listening to as you made
the changes in this commit and how it
really helps you be super productive. 
</pre>

WARNING: if you're using the commandline, and you forget to add -m "your message", it'll put you into a linux like text editor (something like vim), and you will not be happy. You can start writing a message first by pressing "i", and then when you're done, you hit escape, and type ":qw" (that's a colon first). If you quite the editor without saving the message, your changes won't be committed. If you ever accidentally end up in this editor, I advise just closing command prompt and starting over. Otherwise you might end up in tears. Or spending hours on google reading about VIM.

<h4>Branching</h4>
When you first initialize git, you start out with one branch called "master". Let's say we're working on a website that is live, and we have three commits on the master branch:
<i>Illustrations from <a href="http://git-scm.com/book/en/Git-Branching-Basic-Branching-and-Merging">http://git-scm.com/book/en/Git-Branching-Basic-Branching-and-Merging</a></i>
<center><img src="http://git-scm.com/figures/18333fig0310-tn.png" alt="Branching - Step 1" /></center>
and then we find an issue (#53) that will take us a while to work on, and we don't want to work directly on the master branch because our work on issue #53 will break the site and we need to keep a mirrored copy of the live site on the master branch. What we can do is create a branch called iss53 either by opening up the gui and selecting Create from the Branch menu (or ctrl+n), or you can use the following command:
<pre class="nums:false plain:false lang:default decode:true " >git branch iss53</pre>
After which a branch pointer for iss53 is added to the current commit, as illustrated below:
<center><img src="http://git-scm.com/figures/18333fig0311-tn.png" alt="Branching - Step 2" /></center>

<h4>Checking Out Branches</h4>
After creating the iss53 branch, we're still using the master branch. So in order to switch branches, we have to check out iss53. We can do this by using the gui and selecting Checkout from the Branch menu (ctrl+o), choosing iss53 and then clicking Checkout. Or from the commandline, you can issue the following command:
<pre class="nums:false plain:false lang:default decode:true " >git checkout iss53</pre> 

Now that we've switch branches, we can make a commit to the iss53 branch without affecting the master branch:
<center><img src="http://git-scm.com/figures/18333fig0312-tn.png" alt="Branching - Step 3" /></center>


<h4>Merging Branches</h4>
Let's say that while we're working on issue #53, we discover a security hole that needs to be immediately fixed, so we create a hotfix branch, check it out, and commit our patch:
<center><img src="http://git-scm.com/figures/18333fig0313-tn.png" alt="Branching - Step 4" /></center>
After creating the patch, we want to actually apply it to the master branch and have it up on our live website. We do this by what's called a <b>merge</b>. Since the hotfix commit directly descends from the commit that the master branch is pointing to, it's as if the hotfix was just the next commit on the master branch, so all that happens is that we move the pointer of the master branch up to the hotfix. This is called a <b>fast forward</b>:
<center><img src="http://git-scm.com/figures/18333fig0314-tn.png" alt="Branching - Step 5" /></center>
We continue working on iss53, add another commit, and now we're ready to merge it with the master branch. But we can't do a simple fast forward merge anymore, because the master branch's pointer isn't a direct ancestor of commits on the iss53 branch, illustrated below:
<center><img src="http://git-scm.com/figures/18333fig0316-tn.png" alt="Branching - Step 6" /></center>
But as long as the changes in C4 and C5 don't modify the same lines, git is able to do what's called a <b>recursive</b> merge. Which ends up looking like the following:
<center><img src="http://git-scm.com/figures/18333fig0317-tn.png" alt="Branching - Step 7" /></center>
If the commits do modify the same line, then we have what is called a <b>merge conflict</b>. For the next 8 years of your life, if you run into a merge conflict, I advise that you scream and run away. They're quite hideous to resolve, because you have to manually go through it and fix it line by line. If you ever run into a merge conflict while we work on stuff, let me know and I'll take care of it.

So while all this merge stuff might seem complicated, we luckily don't have to worried about what sort of merge it is, since it's all the same simple command(s). Before we merge we need to check into the branch that we're merging into. So if we're bringing iss53 into master, we'd check out master first using the gui or commandline:
<pre class="nums:false plain:false lang:default decode:true " >git checkout master</pre>
and then use the merge command:
<pre class="nums:false plain:false lang:default decode:true " >git merge iss53</pre>
and that'll do everything for us (besides resolve conflict :/ ).

<h4>Remote Repositories</h4>
The git repos you have on your computer are called <b>local repositories</b>. In general, anything on your computer is local. But since a part of git is sharing your code on working on things together, the code has to somehow leave you're computer. While you can technically share the repo directly with teammates, either with like a flash drive or a special type of connection between the computers, there exist git hosts, like GitHub and BitBucket, from which everyone can easily access git repos. Repos that are hosted on servers are called Remote Repos. You can set up a remote on your local repo to sync with a remote repo, but first you have to get an address (and commit access) to the remote repo. You do this by going onto the host (e.g. BitBucket) and creating a new repo, after which they'll give you an address that you can use to set up your remote. Your hosted repos can either be private, in which case you have to be authorized to both see and modify the repo, or public, in which case you need authorization only when trying to modify it. Accordingly, you will be asked for your username and password as you try to set up the remote. To set up the remote, you can use the gui, select Add from the Remote menu (ctrl+A), give the remote a name (origin is the traditional name for your main remote) and paste in the address. Otherwise you can use the commandline (Bitbucket will actually give you something that you can just paste into the commandline):

<pre class="nums:false plain:false lang:default decode:true " >git remote add origin https://asifrc@bitbucket.org/asifrc/myproject.git</pre>

<h4>Pushing</h4>
The way you synchronize your local and remote repos is by <b>pushing</b> and <b>pulling</b>. So right away after initially creating a new remote repo and adding the remote locally, you'll want to push your local repo to the remote. The way you do this is either by clicking the Push button in the gui or by using the following command:

<pre class="nums:false plain:false lang:default decode:true " >git push origin</pre>
This will only push the active branch, so make sure you're checked into the branch that you want to push up. For the very first time you push your repo, you can use the following to push all the branches at once, but after that it's better to only push the branch that you want.
<pre class="nums:false plain:false lang:default decode:true " >git push -u origin --all</pre>

The way pushing and pulling work is that the local and remote repositories go through the merging process as any two branches would

<h4>Pulling</h4>
When you have multiple people contributing to a remote repository (as will be in our case), you can merge the changes from the remote repository into your local repo by issuing a pull command. You can use the gui by click on Remote, Fetch from, and then the remote name (probably origin). Or from the commandline, you can do:
<pre class="nums:false plain:false lang:default decode:true " >git pull origin</pre>
 If you're going to be merging into a local branch that is frequently updated on the remote repo (e.g. master), it's a really good idea to do a pull before you merge your changes.

<h4>Cloning</h4>
If you have the address to a remote repo, and you are authorized to access it, you can <b>clone</b> it, which essentially means to download your own copy of it. Usually, the remote is already set up for you, so you're basically ready to go. The way you clone a repo is by going into the parent directory of where you want your project to be, and then either by navigating there through command prompt, or by right clicking on the directory and clicking git bash (which pulls up something like command prompt). From there you simply issue the clone command, and it'll clone the repo into the directory:
<pre class="nums:false plain:false lang:default decode:true " >git clone https://asifrc@bitbucket.org/asifrc/myproject.git</pre>
Just to make it clear, if you want the repo to reside in "C:\code\c++\myproject", then you go into "C:\code\c++\" and issue the clone command. If you continue using command prompt or git bash after cloning make sure you use cd to change the directory into the newly created project directory (I about half the time).

So guess what, you've actually read everything you need to know about git.. probably for a really long time. Now just some hands on practice with git, and then we'll be ready to learn us some programmings.

(At this point, go and check off "Finished reading" in Trello)

<h2>Using Git</h2>

<h3>Step 1: Choose Where You'll Keep Your Code</h3>
When you're a programmer, you end up having thousands of more files on your computer than the average person. Because of this, it's extremely important that you keep your files organized and start this from the very beginning (it's easier to simply keep your room clean than to clean it after it gets messy).
<h4>Keeping Projects/Repos Organized</h4>
Here are a few things to consider about organizing your files:
<ul>
	<li>Try to keep all of your code within some sort of root directory (so everything somewhere inside "C:\code\", rather than "C:\project1" and then "C\Users\Asif\Project2")</li>
	<li>Only use letters, numbers, and dashes in your folder names. Avoid spaces: it'll save you a lot of trouble down the road.</li>
	<li>Use subdirectories to organize your projects. If you enjoy programming, you'll end up working on hundreds of your own little projects, and you don't want to wade through a hundred folders all within the same directory. I divide mine first by language. And since I have so many PHP projects, I have an additional level of categorization under it.</li>
	<li>Don't nest too many levels of subdirectories. If you use "C:\code\c++\way\too\many\ancestors\for\this\project", you're going to hate yourself later because of how inconvenient it is, and it actually causes some errors in some cases.</li>
	<li>Use meaningful names for your projects. Don't use something like "project115", because chances are that you'll forget what it's even about by the time you get to project130. "myFirstProject" is okay for your first project, but you'll want to be more specific as you go along.</li>
	<li><a href="http://martinfowler.com/bliki/TwoHardThings.html">Naming things will always be hard</a>. I advise you to not spend <i>too</i> much time on it, but you probably will anyways (it's okay, I do it too). Also, the projects you do at first won't really be anything too specific, so we probably will end up with generic names that simply increment the number at the end.</li>
	<li>Add 01 to the end of a file instead of 1 if you think there's even the slightest chance that  you'll have more than 9 of whatever name you're using; 000 if you think there'll be more than a hundred. This way, your files will show in the right order when sorted alphabetically, e.g. file01, file02, ..., file10 instead of file1, file10, file2.</li>
	<li>Unless you plan on giving up the right-click menu options for git, I advise NOT placing your code inside any of your libraries (e.g. Documents) because for some reason right-click menus don't work properly within libraries. You'll find that a lot of programs (e.g. Visual Studio and 3ds Max) save inside you documents folder by default. While it might be pain to have to manually change the save directory of your projects when you first save them, I personally think it's worth the hassle in order to be able to use the git menu (git-cheetah).</li>
</ul>
<h4>Create the Folder Where You'll Keep ALL of Your Code</h4>
I keep mine in C:\code
<h4>Create a Folder Where You'll Create and Clone Repos into for This Lesson</h4>
This is a bit weird, since there's really no language involved. I'm all of the repos from this lesson in C:\code\C++\gitbasics\ mostly because I don't want to add another folder to C:\code (such as C:\code\misc\gitbasics\ ) and most of what we'll work on will be in the C++ folder at first. It's up to you guys however you want to structure your folders, and to find out what works best for you.

<h3>The excercise</h3>
Okay, so now instead of babying you through the entire thing: I'll tell you what you need to do, and you should be able to figure out what to do based on what you read here, or the help section of BitBucket, or just plain old Google. If you're still stuck after doing some research, make sure ask me for help. Here's what you guys need to do (make sure to check them off on Trello as you go through them).

Part I
<ol>
	<li>Create a folder for your first repo</li>
	<li>Initialize Git in the directory</li>
	<li>Add a readme file</li>
	<li>Make your first commit</li>
	<li>Add another file, name it whatever you want</li>
	<li>Write a very short story where someone has to make a decision based on the flip of the coin, but don't write the what happens with the coin flip or after</li>
	<li>Save and commit</li>
	<li>Create a branch for heads, and complete the story in that branch for what would happen if the coin landed on heads</li>
	<li>Go back to the master branch, and create a tails branch, and finish the story for what would happen if it was tails</li>
	<li>Go back to master branch again, pick which story you like better (heads or tails), and merge it into the master branch</li>
	<li>Go to BitBucket and create a repository</li>
	<li>Add the remote to your local repo</li>
	<li>Push ALL of your branches up to BitBucket</li>
	<li>Share your repo with both of us</li>
	<li>Check off Completed Part I on Trello</li>
</ol>




</div>