This is a quick tutorial on using Windows' Command Prompt. I'll explain more later down the road, but here are some basics just so you enough to get by for the time being.

<h2>DOS</h2>
DOS (pronounced <i>doss</i>) stands for Disk Operating System. MS-DOS was the precursor to Microsoft Windows. It was a black screen with text only, and you used it to literally operate the disk. Disks are organized using <a href="http://en.wikipedia.org/wiki/File_systems">File Systems</a>, and the three operations you can make on the disk were reading files, writing files, and executing files. In 1985 Microsoft built Windows as a GUI (Graphical User Interface) on top of MS-DOS, so that every graphical interaction was analog to a text command entered in MS-DOS. After Windows 98, Windows no longer sits on top of MS-DOS and handles DOS operations differently.

As the name would indicate, a Disk Operating System is a <a href="http://en.wikipedia.org/wiki/System">system</a>, or "a set of interacting or interdependent components forming an integrated whole." This system is comprised of several executable files that instruct the computer how to interact with hardware, such as the hard disk, video card, keyboard, etc. In Windows, a lot of these files are kept in the System32 folder.

DO NOT <a href="http://knowyourmeme.com/memes/delete-system32">delete system32</a>. It will not make your computer faster.
<img width="325px" align="center" src="http://cache.ohinternet.com/images/e/e9/Advice_dog_system_32.jpg" alt="Delete System32. Make Your System Faster." />
<h2>Command Prompt is NOT DOS</h2>
Command Prompt is not DOS. The Command Prompt is a command-line interpreter that allows you to launch programs and interact with programs that have a Command-Line Interface (CLI).There's a lot of background stuff going on under the hood with your OS nowadays that you don't have access to through command prompt.

<h2>Opening Command Prompt</h2>
There's a lot of ways to open command prompt. The slowest is to open your Start Menu, go to Accessories, and click on Command Prompt. The middle path (fastest on XP) is to press Windows + R, then type "cmd", and hit enter. If the last time you did this, you ran "cmd", then this becomes the fastest way since all you do is press Windows + R and then Enter. Otherwise the fastest way is to simply press the Windows key, type "cmd" and hit Enter. Try it now..

<h2>Current Working Directory</h2>
When you open up command prompt, it should look something like the following:

 
<pre class="toolbar-hide:false striped:false nums:false nums-toggle:false plain:false plain-toggle:false lang:default highlight:0 decode:true " >Microsoft Windows [Version 6.2.9200]
(c) 2012 Microsoft Corporation. All rights reserved.

C:\Users\Asif&gt;
</pre> 

Obviously your version will vary a bit since we're using different versions of Windows, and we have different user names. But the main point is that you have "C:\Users\YourUserName>" and a blinking <a href="http://en.wikipedia.org/wiki/Cursor_(computers)">cursor</a>. This is called your Current Working Directory (cwd). Unless you explicitly write out a file path to a file, or that file is inside a directory defined in your PATH string (I'll talk about this later), command prompt will try to find the file or command you type within the current working directory. In general, command prompt will display your current directory before your cursor.

<h2>Directory Listing</h2>
If we're going to interact with files in our cwd, we need to know what's in it right? To do this, we use what is called the list directory command: "dir" ("ls" in linux). Type "dir" and hit enter; you should see something like this:
 
<pre class="toolbar-hide:false striped:false nums:false nums-toggle:false plain:false plain-toggle:false lang:default highlight:0 decode:true " >C:\Users\Asif&gt;dir
 Volume in drive C is OS_Install
 Volume Serial Number is 1CC7-9723

Directory of C:\Users\Asif

08/03/2013  09:23 PM    &lt;DIR&gt;          .
08/03/2013  09:23 PM    &lt;DIR&gt;          ..
07/31/2013  08:36 AM    &lt;DIR&gt;          .gem
07/23/2013  12:25 AM                66 .gitconfig
07/23/2013  12:24 AM    &lt;DIR&gt;          .ssh
07/29/2013  10:39 AM    &lt;DIR&gt;          .VirtualBox
08/03/2013  12:11 PM    &lt;DIR&gt;          Adobe Flash Builder 4.6
07/20/2013  08:12 AM                 0 agent.log
07/20/2013  07:49 AM    &lt;DIR&gt;          Contacts
08/12/2013  09:54 PM    &lt;DIR&gt;          Desktop
08/12/2013  01:51 PM    &lt;DIR&gt;          Documents
08/12/2013  09:54 PM    &lt;DIR&gt;          Downloads
07/20/2013  07:49 AM    &lt;DIR&gt;          Favorites
07/20/2013  07:49 AM    &lt;DIR&gt;          Links
07/20/2013  07:49 AM    &lt;DIR&gt;          Music
08/07/2013  03:44 PM    &lt;DIR&gt;          Pictures
07/20/2013  07:49 AM    &lt;DIR&gt;          Saved Games
07/20/2013  07:49 AM    &lt;DIR&gt;          Searches
08/07/2013  04:12 PM    &lt;DIR&gt;          Videos
07/29/2013  10:10 AM    &lt;DIR&gt;          VirtualBox VMs
		   2 File(s)             66 bytes
		  18 Dir(s)  140,783,841,280 bytes free

C:\Users\Asif&gt;
</pre> 

Once again, you're not going to have the same exact folders as me, but you should have something similar. Now since most of these are directories, we can't really do much. There are two entries that I want to draw your attention to. The first two directories listed are "." and "..",  but these not are actually not the names of any directories. These actually represent the current directory and the parent directory respectively. So "." represents "C:\Users\Asif" and ".." represents "C:\Users". These are called <b>Relative Paths</b> and are very frequently used by programmers (something like "C:\Users\Asif" is called an <b>Absolute Path</b>, and things that programmers generally try to avoid for reasons we'll talk about further down the road).

Note: if you're cwd is "C:\", the directory listing wont' show "." or "..", and trying to access them will just return "C:\". Also, typing "cd \" will bring you to the root of the drive you're on (so C:\ in my case, but if your cwd was "E:\path\to\your\folder" and you typed "cd \", it would take you to "E:\"). Which brings up another point: to change drives, you don't use "cd", you simply type the name of the drive followed by a colon, e.g. "E:".

I'm pretty sure this is something you guys could figure out without me explicitly stating it, but I will anyways: the terms <b>Parent</b>, <b>Sibling</b>, and <b>Children</b> is very often used in programming. Children belong to their Parent, and two Children that belong to the same Parent are Siblings. So with the listings above, "User" is the parent directory of "Asif", "Documents" is a child directory of "Asif", and "Pictures" and "Videos" are siblings. There are no "grandparents" or "grand"-anythings, but the term <b>Ancestor</b> and <b>Descendant</b> are often used. So "Documents" is a descendant of "Users" and "Users" is an ancestor of "Videos". A directory and all of its descendants is called the <b>Directory Tree</b>, where the origin of the tree is called the <b>Root</b> directory. The concepts of parent, child, sibling, ancestor, and descendant relationships apply to a lot of areas in programming, as you'll find out when we learn about Inheritance.

<h2>Change Directory</h2>
To change the cwd, we can use the "cd" (which stands for Change Directory) command. You can either specify one of the that you just listed, e.g. "cd Documents", or you can type out an absolute path, e.g. "cd C:\Windows\System32". So let's go into a directory, list it, then go back up the tree a bit, and list some more stuff (check out the highlighted lines for the commands I entered):

<pre class="toolbar-hide:false striped:false nums:false nums-toggle:false plain:false plain-toggle:false lang:default mark:1,3,20,22,24,26,28,30,32,34 highlight:0 decode:true " >C:\Users\Asif&gt;cd desktop

C:\Users\Asif\Desktop&gt;dir
 Volume in drive C is OS_Install
 Volume Serial Number is 1CC7-9723

 Directory of C:\Users\Asif\Desktop

08/12/2013  09:54 PM    &lt;DIR&gt;          .
08/12/2013  09:54 PM    &lt;DIR&gt;          ..
07/29/2013  08:42 AM             1,383 ApacheMonitor.lnk
07/21/2013  06:14 PM               136 Batman Arkham Asylum.lnk
07/23/2013  12:24 AM             2,181 Git Shell.lnk
07/23/2013  12:23 AM               308 GitHub.appref-ms
07/20/2013  04:30 PM    &lt;DIR&gt;          Original Desktop Icons
07/20/2013  07:03 PM               822 TeraCopy.lnk
               5 File(s)          4,830 bytes
               3 Dir(s)  140,782,264,320 bytes free

C:\Users\Asif\Desktop&gt;cd ..

C:\Users\Asif&gt;cd documents

C:\Users\Asif\Documents&gt;cd ../videos

C:\Users\Asif\Videos&gt;cd ../..

C:\Users&gt;cd C:\Windows

C:\Windows&gt;cd C:\Users\Asif

C:\Users\Asif&gt;cd \

C:\&gt;</pre> 

You'll notice that the cwd listed on the left changes as we change directories. Go through this and see if it all makes sense. Try exploring your folders using a combination of CD and DIR and and try getting the hang of it. And as always, let me know if you have any questions or something doesn't make sense.

There's a lot more to learn about command prompt, but git is more important for now..
<h3>To Be Continued...</h3>
