<p>Hey guys,<br>
So we'll only be installing enough at first to start learning some of the basics of programming and how to work on the same project in a team environment. The first two steps are just registering for websites (You should already have invitations to these sites in your email inbox). Then there's two programs that help install stuff. And then three programs we'll use while coding. Make sure to let me know if you have any problems with the installations</p>
<p>I just realized that the main reason I gave you guys TeraCopy was to transfer the rest of the files over (it's great for really large file transfers). Fail.. Oh well, feel free to skip that, but I highly recommend installing it anyways.</p>
<strong>Note:</strong>
In general, you'll see a lot of words surrounded by "double-quotes" ( an apostrophe is a single-quote, shift +  single-quote = doubl-quote). If I say that the value of something should be "something", unless you see it in a specially formatted box, like this:
 
 
<pre class="nums:false lang:default decode:true " >value = "something"</pre> 

don't include the quotes. If I ever do use double quotes in a sentence where I want you to include the quotes, I will make note immediately with parentheses: so it will look some thing like "this" (include quotes).

Also, while we're at it, I'll be frequently using two abbreviations that are commonly confused:
<ul>
<li>e.g. - means "for example" (latin is <i>exempli gratis</i>, which translates to "for the sake of example)</li>
<li>i.e. - means "in other words" (latin is <i>id est</i>, which translates to "that is"</li>
</ul>

<h2>Trello</h2>
<h3>What is it?</h3>
<p>Trello is a project management app. It's basically an advanced to-do list that you can use for both personal projects and team projects.</p>
<h3>Sign Up</h3>
<p>Sign up by either using the invitation that I emailed you so you're automatically added to the project I've created. Or go to <a href="https://trello.com/">trello.com</a> and register, and let me know that you've registered so I can manually add you to the project.</p>
<h3>How to use it</h3>
Different parts of the project are broken down into "cards". When a card is created, it can be in one of three stages (which we can change later): to-do, doing, or done. Basically, this will give us a good idea of what we need to do and where each team member is at as we work through a project. You can click on "Configure Dev Environment" and it'll show you a checklist of things that we need to do to configure our development environment. As you go through this page and complete each installation, check off the item in checklist under your name.

<h2>BitBucket</h2>
<h3>What is it?</h3>
BitBucket is a website that stores and keeps track of our code for us. In order to actually use it, we'll need to install git, which is included below. I'll talk more about using git/bitbucket in a separate post.
<h3>Sign Up</h3>
Either use the email invite I sent you or just go to the <a href="https://bitbucket.org/">BitBucket website</a>
<h3>How to use it?</h3>
Don't worry about it for now.. I'll tell you later ;)

<h2>TeraCopy</h2>
<h3>What is it?</h3>
<p>TeraCopy is fairly simple program that gives you more control over copying files, allowing you to see all the individual files being copied, pause transfers, etc. And it's faster than the basic Windows copier.</p>
<h3>Installation Instructions</h3>


<p>File Location: /teracopy.exe</p>


<p>Nothing tricky here.. Just run and install it. I recommend making it your default windows copier.</p>

<h2>Daemon Tools Lite</h2>
<h3>What is it?</h3>
<p>Daemon tools allows you to load disk image (.iso) files onto a virtual drive so that your computer reads the file as if it were a physical disk in your cd/dvd/br drive. Chances are that you already know what this is and already have it installed (in which case you can skip the installation instructions).</p>
<h3>Installation Instructions</h3>
<p>File Location: /DTLite4471-0335.exe</p>
<p>Pretty straight forward: just run it..</p>
<h3>How to Use It?</h3>
<p>If you image file has Daeomon Tools' lightning icon, then you should be able to double click it and it will automatically mount. If not, open up daemon tools from your start menu, drag the image file from windows explorer onto the icon of one of the virtual drives in daemon tools.</p>

<h2>Notepad++</h2>
<h3>What is it?</h3>
<p>Notepad++ (which I'll usually shorten to "npp") is a very light-weight text editor that has awesome <a href="http://en.wikipedia.org/wiki/Syntax_highlighting">syntax highlighting</a> (adds colors to programming keywords). The lightweight part is very nice, because it doesn't make to open up a full IDE like Microsoft Visual Studio or Adobe Dreamweaver that'll eat up a gig of RAM when you only want to edit a few lines of text. It's also pretty neat because it's syntax highlighting covers a wide range of languages.
<h3>How to Use It?</h3>
If you check Shell Integration during the install, all you have to do is right click on the file you want to open and there should be an option to "Edit with Notepad++", which is easy enough. Otherwise, you can run npp from a desktop icon or the start menu, and then drag a file from explorer into npp. Also, npp can be used to read .nfo files that are often included with torrents..
<h3>Installation Instructions</h3>
<p>File Location: /Notepad++/npp.6.4.2.Installer.exe</p>
<p>Once again, pretty straight forward. If you want the easy right-click menu option mentioned above, make sure Shell Integration is checked.</p>


<h2>Git</h2>
<h3>What is (g)it?</h3>
<p>Git is a distributed version control and source control management software. That probably doesn't make sense to you, and it probably won't be fully clear until we actually start using it. But it's basically something that lets us work on the same files separately and easily merge them together, and also let's us go back in time if we make any mistakes.</p>
<h3>How to Use It?</h3>
<p>I'll have a separate post just about how we'll be using git later.</p>
<h3>Installation Instructions</h3>
<p>File Location: /Git/Git-1.8.3-preview20130601.exe</p>
<p>This is the first program we're installing that requires some configuration:</p>
<ol>
    <li>Run the install file</li>
    <li>Click Next until you get to Adjusting your PATH Environment</li>
    <li>Make sure "Run Git from the Windows Command Prompt" is the selected option</li>
    <li>Keep hitting next and finish the installation</li>
    <li>Open up the command prompt by going to the start menu (or pressing <key>Windows</key> + <key>R</key>), type "cmd", and hit enter. You should now find yourself staring at a black command prompt console.</li>
    <li>Confirm that git was properly installed by typing in "git" and hitting enter. You should see instructions on using git; if it says that git is not recognized, something's wrong (shoot me an email)</li>
    <li>Now copy the following:
<pre class="nums:false lang:default decode:true " >git config --global user.name "Your Name Here"</pre> 
(don't hit enter until you've changed the name) and paste it into command prompt by right-clicking and clicking paste (ctrl-v won't work). Change the name to your full name, and make sure to keep the quotes in. Hit enter.</li>
    <li>Do the same again, this time with your email:
<pre class="nums:false lang:default decode:true " >git config --global user.email "your_email@example.com"</pre> 
</li>
</ol>
<p>And now git's ready to go..</p>

<h2>Microsoft Visual Studio Express 2012</h2>
<h3>What is it?</h3>
<p>Visual Studio (VS) is Microsoft's <a href="http://en.wikipedia.org/wiki/Integrated_development_environment">Integrated Development Environment</a> (or IDE) for several languages, like C++, C#, and Visual Basic. An IDE is a software that allows you to create programs by writing code and provides a whole bunch of other tools that come in handy while programming. Visual Studio Express is the free version, but is not all too different from the full professional version. At first we'll be using VS to write some basic C++, but later we will install nFringe so that we can use VS to edit UnrealScript files for UDK.
<h3>Installation Instructions</h3>
<p>File Location: /Microsoft Visual Studio Express 2012/VS2012_WDX_ENU.iso</p>
<p>This one'll take longer than the previous installations</p>
<ol>
<li>Mount the image using Daemon Tools</li>
<li>Run wdexpress_full.exe</li>
<li>Go through the entire install normally</li>
<li>After it's finished (if it doesn't run automatically) start VS Express for Desktop</li>
<li>It should ask you to register for a key. I would recommend that you simply register (create an outlook account for it and never use it again if you don't already have a msn, hotmail, live, or microsoft account), and that way it won't bother you again..</li>
</ol>
<p>Now we're ready to code..</p>



