Hey guys,
As I was thinking about how I learned to develop games, I realized that I had been programming for about a decade before touching UDK, so there's likely a lot of things that I didn't think twice about that someone without a programming background might struggle with. Because of this (and the myriad of reasons in favor of learning to program), I think it's best that we start out with the basics, so that you understand how everything comes together, and so that when things go wrong, you can scientifically figure out what's wrong rather than blaming black magic.

<h3>First, we'll start out with basic C++</h3>
It's the first language I learned, and the Unreal Engine is built using C++. Some people say it's one of the more difficult languages to learn; I disagree that it's difficult to understand, but would say that it does require a lot more work than other languages to accomplish certain tasks. But in the process, you learn a lot more about what's going on under the hood, which is pretty important to learn at some point.
We will probably end up making a very basic text-based game (no graphics) to understand the basics of how programming works, what goes into a game, and also how to work on code in team environments. We won't be getting too advanced into C++, since it's a really huge field and we only need the basics to move on.

<h3>Unreal Development Kit</h3>
Next we'll learn the basics of the UDK Editor so that we can see where everything that we'll be working on will be coming together. We can do some very basic level design and create some basic games before moving on to 3D modeling.

<h3>3ds Max</h3>
We'll work in 3ds Max to learn the basics of 3D modeling, and identify what we have to keep in mind during the modeling process so that everything imports into UDK properly. We might learn how to do some rigging and animation, or we might save that for later.

<h3>First Nano Game</h3>
After we've learned the basics of everything, we'll create a very very tiny game that brings everything together so that we have something playable. Once we have that, we can plan making something more substantial, and we'll be armed with the knowledge of what it'll take to make it.

This roadmap is by no means set in stone, but I think it's a good place to start..

Now that you know what we're doing.. go install stuff by following the directions in <a href="http://noobdev.asifrc.com/getting-started/initial-configuration" title="Initial Configuration">Initial Configuration</a>